body {
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e5;
    background-color: #1b0c00;
    background-image: url('../img/Fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.agendamento-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #d7b800;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

p {
    color: #e5e5e5;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

label {
    display: block;
    color: #d7b800;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left;
}

input[type="date"],
input[type="time"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #e5e5e5;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border: 1px solid #ffc593;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #652F00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #DFC08D;
    color: #652F00;
    transform: scale(1.05);
}

button:disabled {
    background-color: #353535;
    cursor: not-allowed;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23333" d="M4.5 6l4 4 4-4z"/></svg>'); /* Adiciona um ícone de seta */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1rem;
    cursor: pointer;
}

.titulo-evento {
    color: #d7b800;
}